html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title!= title
        link(href="css/bootstrap3.min.css", type="text/css", rel="stylesheet")
        link(href="css/game.css", type="text/css", rel="stylesheet")
    body
        div#mainDiv
        script(src="/js/main.js")